.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
}

.userPanel, .main-nav {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

.footer {
  height: 100px;
}

a, h1, h2, p, span {
  font-family: 'Asap', sans-serif;
}

.router-link-exact-active {
  background-color: black;
}
